@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 100;
  line-height: 20px;
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: 'Great Vibes',cursive;
  color: #fff;
  cursor: pointer;
}
.logo span{
  font-size: 38px;
  color: #9a533d;
}
.navbar-menu a{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 35px;
  display: inline-block;
}
.navbar-menu a::after{
  content: '';
  display: block;
  width: 0;
  height: 1.8px;
  background-color: #846445;
  transition: width .3s;
}
.navbar-menu a:hover::after{
  width: 100%;
}/* Reset default margin and padding */
body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

/* Set font family and color for the body */
body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  background-image: url("55.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.remove-button {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f8f8f8;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.flower-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.total-price {
  margin-top: 30px;
}

#total-price {
  font-size: 20px;
  font-weight: 600;
}

#order-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #846445;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

#order-button:hover {
  background-color: #6c513d;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .navbar-menu a {
    margin: 10px 0;
  }
}
